.crate__post {
  margin: 10px auto;
  padding: 20px;
  width: 50%;
  background: #e1e1e15c;
  border: 1px solid grey;
  border-radius: 15px 0 15px 0;
}

.crate__post__title {
  text-align: center;
  letter-spacing: 0.1rem;
}

.crate__post__button {
  background-color: white;
  margin-right: 15px;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 0 15px 0 15px;
}
