.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__close {
  top: 20px;
  right: 20px;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal__edit {
  width: 40%;
  height: content;
  text-align: center;
  background: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 5px;
}

.modal__input {
  width: 60%;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 2px 2px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 9px;
}

.modal__edit__button{
  background-color: #8080803d;
  margin-right: 15px;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 0 15px 0 15px;
}
